---
form: [
{
type: "text",
name: "email",
placeholder: "Почта",
},
{
type: "text",
name: "login",
placeholder: "Логин",
},
{
type: "text",
name: "first_name",
placeholder: "Имя",
},
{
type: "text",
name: "second_name",
placeholder: "Фамилия",
},
{
type: "text",
name: "phone",
placeholder: "Телефон",
},
{
type: "password",
name: "password",
placeholder: "Пароль",
color: "red",
},
{
type: "password",
name: "password",
placeholder: "Пароль (еще раз)",
validationError: true,
validationErrorMessage: 'Пароли не совпадают',
color: "red",
},
]
---

<html>

<head>
    <link rel="stylesheet" href="/src/pages/auth/auth.scss">
    <link rel="stylesheet" href="./signup.scss">
    <link rel="stylesheet" href="/src/styles/button.scss">
</head>

<body>
    <div class="container">
        <form class="container__form">
            <p class="container__form__title">Регистрация</p>

            {{#each form}}
                <input type={{this.type}} name={{this.name}} placeholder='{{this.placeholder}}' style="color: {{this.color}}">
                {{#if validationError}}
                    <span class="container__form__errorInput">{{this.validationErrorMessage}}</span>
                {{/if}}
            {{/each}}
            {{> button text="Зарегистрироваться"}}
            <a href="/src/pages/auth/signin/signin.hbs">Войти</a>
        </form>
    </div>
</body>

</html>