<div class="dialog">
    <div class="dialog__header">
        <div class="dialog__header__profile">
            <div class="dialog__header__profile__img"></div>
            <div class="dialog__header__profile__name">{{data.name}}</div>
        </div>

        <div class="dialog__header__actions">
            <img src="/static/img/dialogsPage/move-vertical.svg">

            <div class="dialog__header__actions__dropDownList">
                <div class="dialog__header__actions__dropDownList__addUser">
                    <img src="/static/img/dialogsPage/addUserButton.svg">
                    <span>Добавить пользователя</span>
                </div>

                <div class="dialog__header__actions__dropDownList__removeUser">
                    <img src="/static/img/dialogsPage/removeUserButton.svg">
                    <span>Удалить пользователя</span>
                </div>
            </div>
        </div>
    </div>

    <div class="dialog__content">
        {{#each data.content}}
            <p class="dialog__content__date">{{this.date}}</p>
            {{#each this.messages}}
                {{#if this.you}}
                    <div class="dialog__content__ownMessage">
                        {{#if this.type}}
                            <span class="dialog__content__ownMessage__text">{{this.text}}
                                <span class="dialog__content__ownMessage__empty"></span>
                                <span class="dialog__content__ownMessage__time">
                                    {{#if this.checked}}
                                        <img src="/static/img/dialogsPage/checkedMessage.svg">
                                        {{else}}
                                        <img src="/static/img/dialogsPage/uncheckedMessage.svg">
                                    {{/if}}
                                    {{this.time}}</span>
                                </span>
                        {{else}}
                            <div class="dialog__content__ownMessage__imgContainer">
                                <img src='{{this.text}}'>
                                <span class="dialog__content__ownMessage__time">
                                    {{#if this.checked}}
                                        <img src="/static/img/dialogsPage/checkedMessage.svg">
                                        {{else}}
                                        <img src="/static/img/dialogsPage/uncheckedMessage.svg">
                                    {{/if}}
                                    {{this.time}}
                                </span>
                            </div>
                        {{/if}}
                    </div>
                {{else}}
                    <div class="dialog__content__otherMessage">
                        {{#if this.type}}
                            <span class="dialog__content__otherMessage__text">{{this.text}}
                            <span class="dialog__content__otherMessage__time">{{this.time}}</span>
                            </span>
                            {{else}}
                            <div class="dialog__content__otherMessage__imgContainer">
                                <img src='{{this.text}}'>
                                <span class="dialog__content__otherMessage__time">{{this.time}}</span>
                            </div>
                        {{/if}}
                        <span class="dialog__content__other__time"></span>
                    </div>
                {{/if}}
            {{/each}}
        {{/each}}
    </div>

    <div class="dialog__messageSend">
        <div class="dialog__messageSend__dropDownListContainer">
            <img class="dialog__messageSend__dropDownListContainer__files" src="/static/img/dialogsPage/clip.svg">
            <div class="dialog__messageSend__dropDownListContainer__dropDownList">
                <div class="dialog__messageSend__dropDownListContainer__dropDownList__photoVideo">
                    <img src="/static/img/dialogsPage/photoVideo.svg">
                    <span>Фото или Видео</span>
                </div>

                <div class="dialog__messageSend__dropDownListContainer__dropDownList__file">
                    <img src="/static/img/dialogsPage/file.svg">
                    <span>Файл</span>
                </div>

                <div class="dialog__messageSend__dropDownListContainer__dropDownList__location">
                    <img src="/static/img/dialogsPage/location.svg">
                    <span>Локация</span>
                </div>
            </div>
        </div>
        <input type="text" placeholder="Сообщение" name="message">
        <img class="dialog__messageSend__buttonSend" src="/static/img/dialogsPage/buttonSend.svg">
    </div>

    {{> addDeleteUser data = addDeleteUser.add}}
    {{> addDeleteUser data = addDeleteUser.delete}}
</div>