<div class="profilePagePopup">
    {{#if action.error}}
        <p class="profilePagePopup__action profilePagePopup__actionError">{{action.text}}</p>
    {{else}}
        <p class="profilePagePopup__action">{{action.text}}</p>
    {{/if}}

    {{#if content.link}}
        <a class="profilePagePopup__link" href="">{{content.text}}</a>
    {{else}}
        <span class="profilePagePopup__span">{{content.text}}</span>
    {{/if}}
    {{> button text="Поменять" }}

    {{#if needToChooseFile.need}}
        <span class="profilePagePopup__needToChooseFile">{{needToChooseFile.text}}</span>
    {{/if}}
</div>